@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');

html {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 30px;
    color: rgb(248, 4, 134);
}

header {
    height: 100%;
    }

.header__img {
    width: 100vw;      
}

.containers {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 80%;
    }