@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.header {
    min-height: 100%;
}
header img {
    min-width: 100%;
    min-height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 80%;
    padding-left: 15vw;
}