@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama&display=swap');
 .container{
    font-family: 'Dr Sugiyama', cursive;
    font-size: medium;
    font-weight: bold;
    color: blue;
    width: 80vw;
    float: right;
    
 }

.header{
    min-height: 100%;
}

.header__img{
    min-width: 100vw;
}
